ion-button {
    height: 2rem;
    width: 2rem;
    border-radius: 0px;
}
.compare {
    width: 5rem;
    transform: translateX(-50%);
}

.compare2 {
    width: 5rem;
    height: 3rem;
    /* transform: translateX(-50%); */
}
 .delete {
    height: 3rem;
    width: 3rem;
}
.deletePartie {
    height: 3rem;
    width: auto;
}
.containerPartie{
    display: flex;
    justify-content: center;
}
/* .annuler {
    height: 3rem;
    width: 3rem;
} */
.ioncol, .ionColGreen, .ionColOrange, .ionColRed {
    min-width: 3rem;
    min-height: 3rem;
    border-right: 1px solid #fff;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 5px;
}

.ioncol{
    background-color: #ca6702;
}

.ion-row {
    border-top: 1px solid #fff;
    justify-content: center;
}
