ion-grid{
    margin-top: 40px;
}
.legend{
    height:40px;
    width: 40px;
    background: blue;
}

.legend-container{
    display: flex;
    margin: 5px;
}

.success{
    background: #4AD66D;
}

.misplaced{
    background: #FFB700;
}

.failed{
    background: #DA1E37;
}

.ion-button{
    height:40px;
    width: 90px;
}